{% extends 'base.html' %}
{% block content %}
    <!-- tap on top starts-->
    <div class="tap-top"><i data-feather="chevrons-up"></i></div>
    <!-- tap on tap ends-->
    <!-- page-wrapper Start-->
    <div class="page-wrapper">
        <div class="container-fluid p-0">
            <div class="row">
                <div class="col-12">
                    <div class="login-card">

                            <div class="login-main">
                                <div>
                                    <a class="logo" href="{{ url_for('security.home') }}">
                                        <img class="for-light " width="300"
                                             src="{{ url_for('static', filename='assets/images/logo/logonoir.png') }}"
                                             alt="looginpage" height="180px">
                                    </a>
                                </div>
                                <form class="theme-form" method="POST">
                                    {{ form.hidden_tag() }}

                                    <h4>Renitialiser votre mot de passe</h4>
                                    {#                    <h6 class="mt-4">Create Your Password</h6>#}
                                    <div class="form-group">
                                        <label class="col-form-label">Nouveau mot de passe</label>
                                        <div class="form-input position-relative">
                                            {{ form.password(class="form-control", placeholder="**********") }}
                                            <div class="show-hide"><span class="show"></span></div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-form-label">Retapez notre mot de passe</label>
                                        {{ form.confirm_password(class="form-control", placeholder="**********") }}
                                    </div>
                                    <div class="form-group mb-0" style="box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;">
                                        <button class="btn text-white btn-block w-100" style="background: #04233f !important;  padding: 8px !important;" type="submit">Enregistrer
                                        </button>
                                    </div>
                                    <div class="text-center mt-2">
                                        {% for message in form.confirm_password.errors %}
                                            <div class="alert alert-danger">
                                                {{ message }}
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <p class="mt-4 mb-0 text-center">Vous avez votre mot de passe?
                                        <a class="ms-2" href="{{ url_for('security.login') }}">Connectez-vous</a>
                                    </p>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}